<div class="pre-home">
	<div>
		<h2 class="pre-home__title">Hola, Ana:</h2>
		<h3 class="pre-home__title">bienvenida a tu nueva Sucursal Virtual.</h3>
	</div>
	<h2 class="pre-home__sub-title">¿Qué quieres hacer hoy?</h2>
	<div class="pre-home__container">
		<div class="pre-home__cards">Mi resumen</div>
		<div class="pre-home__cards">Salud</div>
		<div class="pre-home__cards">Vida</div>
		<div class="pre-home__cards">Pagos SURA</div>
		<div class="pre-home__cards">Reclamaciones y reembolsos</div>
		<div class="pre-home__cards">Documentos y Certificados</div>
	</div>
</div>
