<section class="menu-section">
	<div class="menu-section__image">
		<img src="assets/images/svg/health.svg" alt="imagen" />
	</div>
	<div class="menu-section__container-items">
		<div
			*ngFor="let menuItem of menuDesktopItems; let i = index"
			class="menu-section__items">
			<div (click)="toggleSubMenu(i)">
				{{ menuItem.label }}
			</div>
		</div>
	</div>
	<div *ngIf="selectedSubMenu">
		<div *ngFor="let subMenuItem of selectedSubMenu">
			{{ subMenuItem.label }}
		</div>
	</div>
</section>
