<app-user-way></app-user-way>
<header class="header">
	<img class="header__logo" src="/assets/images/svg/logo-sura.svg" alt="sura" />
	<a *ngIf="!menuEsVisible" class="header__button" (click)="toggleMenu()"
		><img src="/assets/icons/menu.svg" alt="" />
	</a>
	<a *ngIf="menuEsVisible" class="header__button" (click)="toggleMenu()"
		><img src="/assets/icons/close.svg" alt="" />
	</a>
	<nav
		class="header__nav"
		[ngClass]="{
			'header__nav--visible': menuEsVisible,
			'header__nav--hidden': !menuEsVisible
		}">
		<app-menu [menuDesktopItems]="menuDesktopItems"></app-menu>
		<app-menu-mobile [menuItems]="menuItems"></app-menu-mobile>
	</nav>
</header>
