<app-user-way></app-user-way>
<!-- <sura-base-header titulo="SEGUROS SURA" descripcion="abc abc" /> -->
<header class="header">
	<img class="header__logo" src="/assets/images/svg/logo-sura.svg" alt="sura" />
	<a
		*ngIf="!menuEsVisible"
		class="header__button"
		(click)="menuEsVisible = !menuEsVisible"
		><img src="/assets/icons/menu.svg" alt="" />
	</a>
	<a
		*ngIf="menuEsVisible"
		class="header__button"
		(click)="menuEsVisible = !menuEsVisible"
		><img src="/assets/icons/close.svg" alt="" />
	</a>
	<nav
		class="header__nav"
		[ngClass]="{
			'header__nav--visible': menuEsVisible,
			'header__nav--hidden': !menuEsVisible
		}">
		<ul class="header__nav-list">
			<ng-container *ngFor="let menuItem of menuItems; let i = index">
				<li *ngIf="!menuItem.subMenu">
					<a
						[routerLink]="menuItem.link"
						(click)="menuEsVisible = !menuEsVisible"
						href="#">
						{{ menuItem.label }}
					</a>
				</li>
				<li *ngIf="menuItem.subMenu" (click)="toggleSubMenu(i)">
					<a href="#"> {{ menuItem.label }} </a>
					<img
						[ngClass]="{
							'header__arrow-forward--visible': expandedMenuItems[i]
						}"
						src="/assets/icons/arrow-forward.svg"
						alt="" />
					<img
						[ngClass]="{
							'header__arrow-forward--visible': !expandedMenuItems[i]
						}"
						src="/assets/icons/arrow-down.svg"
						alt="" />
				</li>
				<ul class="header__nav-list submenu" *ngIf="expandedMenuItems[i]">
					<li *ngFor="let subMenuItem of menuItem.subMenu">
						<a
							href="#"
							[routerLink]="subMenuItem.link"
							(click)="menuEsVisible = !menuEsVisible"
							>{{ subMenuItem.label }}</a
						>
					</li>
				</ul>
			</ng-container>
		</ul>
	</nav>
</header>
<!--
<sura-dropdown
	options='["Elemento 1", "Elemento 2", "Elemento 3"]'
	placeholder="Selecciona una opción"
	label="Etiqueta"
	description="Texto de ayuda"
	(option-selected)="hello($event)" />
<sura-base-footer></sura-base-footer> -->
