.loading-page {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(rgba(250, 250, 250, 0.906), 0.9);
	z-index: 3;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-inline: 0px 0px;
	margin-block: 0px 0px;
	img {
		transform: scale(0.8);
		transition: transform 0.4s;
	}
}
