<ul class="menu">
	<li *ngFor="let menuItem of menuDesktopItems; let i = index">
		<a
			*ngIf="!menuItem.subMenu"
			[routerLink]="menuItem.link"
			(click)="closeMenu(menuItem)"
			[ngClass]="{
				'menu-item': !menuItem.subMenu,
				'submenu-item': menuItem.subMenu
			}"
			>{{ menuItem.label }}</a
		>
		<a
			*ngIf="menuItem.subMenu"
			(click)="toggleSubMenu(i)"
			[ngClass]="{
				'menu-item': !menuItem.subMenu || menuItem.type === 'child',
				'submenu-item': menuItem.subMenu && menuItem.type === 'parent'
			}">
			{{ menuItem.label }}
			<a *ngIf="!expandedMenuItems[i]" class="sura-icon-small-row-right"> </a>
			<a *ngIf="expandedMenuItems[i]" class="sura-icon-forward-down-arrow"> </a>
		</a>
		<app-menu-section
			*ngIf="menuItem.subMenu && expandedMenuItems[i]"
			[menuDesktopItems]="menuItem.subMenu">
		</app-menu-section>
	</li>
</ul>
