<ul class="menu">
	<li *ngFor="let menuItem of menuItems; let i = index">
		<a
			*ngIf="!menuItem.subMenu"
			[routerLink]="menuItem.link"
			(click)="closeMenu(menuItem)"
			[ngClass]="{
				'menu-item': !menuItem.subMenu,
				'submenu-item': menuItem.subMenu
			}"
			>{{ menuItem.label }}</a
		>
		<a
			*ngIf="menuItem.subMenu"
			(click)="toggleSubMenu(i)"
			[ngClass]="{
				'menu-item': !menuItem.subMenu || menuItem.type === 'child',
				'submenu-item': menuItem.subMenu && menuItem.type === 'parent'
			}">
			{{ menuItem.label }}
			<img
				src="/assets/icons/arrow-down.svg"
				alt=""
				*ngIf="!expandedMenuItems[i]" />
			<img
				src="/assets/icons/arrow-forward.svg"
				alt=""
				*ngIf="expandedMenuItems[i]" />
		</a>
		<app-menu
			*ngIf="menuItem.subMenu && expandedMenuItems[i]"
			[menuItems]="menuItem.subMenu"></app-menu>
	</li>
</ul>
